@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    background-color: black;
    height: 50px;
    border-bottom: solid 5px #D4C26A;
}

/*------------------------------*/
h1 {
    text-align: center;
    font-family: 'Dancing Script', cursiva;
    font-size: 50px;
    color: #D4C26A;
    padding: 10px;
}
.container-banner {
    background-color: #D4C26A;;
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    justify-content: left;
    align-items: center;
    margin: 20px;
}

.container-banner ul {
    font-family: system-ui;
    font-size: 50px;
    list-style: none;
}

.container-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.container-cards p{
    font-family: system-ui;
}
 .ubicacion, .medios-de-pago, .envios {
    background-color: #D4C26A;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100px;
    padding: 40px;
    width: 20%;
}
/*-----------productos-----------*/

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.prod{
    display: flex;
    align-items: center;
    list-style: none; 
    padding: 20px;
}

.img-prod {
    height: 500px;
    width: 660px;
    border-radius: 10px;
    filter: drop-shadow(9px 9px 9px #D4C26A);
    transition: all 500ms ease;
}

.img-prod:hover{
    transform: scale(1.1);
}
#btn-dormitorio, #btn-cortinas, #btn-muebles, #btn-deco{
    height: 35px;
    width: 150px;
    position: absolute;
    border-radius: 5px ;
    border: 3px solid #D4C26A;
    font-size: 20px;
    color: #D4C26A;
    background: rgba(255, 255, 2555, 0.8);
}

#btn-dormitorio, #btn-muebles{ 
    right: 68%; 
}
#btn-dormitorio ,#btn-cortinas{
    top:50%;
}
#btn-cortinas, #btn-deco{
    right: 20%;
}
#btn-muebles,#btn-deco{
    top: 120%;
}

/*-----------productos-----------*/

footer {
    display: flex;
    background-color: black;
    height: 50px;
    border-top: solid 5px #D4C26A;
}

.item {
    color: white;
    font-size: 20px;
    margin: 7px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.item:hover {
    opacity: 0.6;
    background: #D4C26A;
}

.redes {
    display: flex;
    margin: 10px;
    list-style: none;
}

.social-icon {
    color: #D4C26A;
    margin: 5px;
    padding: 5px;
}