
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    background-color: black;
    height: 50px;
    border-bottom: solid 5px  #D4C26A;
} 
.item{
    color: white;
    font-size: 20px;
    margin: 7px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.item:hover{
    opacity: 0.6;
    background: #D4C26A;
}
footer{
    display: flex;
    background-color: black;
    height: 50px;
    border-top: solid 5px  #D4C26A;   
}
.redes{
    display: flex;
    margin: 10px;
    list-style: none;
}

.social-icon{
color: #D4C26A;
margin: 5px;
padding: 5px;
}