body{
    padding: 30px;
}
.container-carga-prod{
    display: flex;
    flex-direction: column;
    border: 1px solid;
}
.container-carga-prod.carrito{
    display: none;
}
button{
    background-color: bisque;
    cursor: pointer;
}
.form-carga{
    display: flex;
    justify-content: space-between;
}

.tabla-prod, td, tr{
    border: 1px solid black;
}